---
import CardAds from "../CardAds.astro";
---

<div
    class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-4 gap-6 p-4 mt-20 justify-items-center"
>
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://cdn.builder.io/api/v1/image/assets/TEMP/f7216f743535b0d6c792fa6684ea72a99bca81565a1e5da62091b3276c9a79b7?placeholderIfAbsent=true&apiKey=54fb95c0816f4dfb82f7ffd2db39b850"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
    />
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://cdn.builder.io/api/v1/image/assets/TEMP/f7216f743535b0d6c792fa6684ea72a99bca81565a1e5da62091b3276c9a79b7?placeholderIfAbsent=true&apiKey=54fb95c0816f4dfb82f7ffd2db39b850"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
        />
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://i.ibb.co.com/mHhdZMr/horse.jpg"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
    />
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://i.ibb.co.com/mHhdZMr/horse.jpg"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
    />
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://i.ibb.co.com/S62s7bL/kudapacu-3.png"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
    />
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://i.ibb.co.com/S62s7bL/kudapacu-3.png"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
    />
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://i.ibb.co.com/DL4PT7Z/undraw-Software-engineer-re-tnjc.png"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
    />
    <CardAds
        title="Kuda Pacu"
        desc=""
        img="https://i.ibb.co.com/DL4PT7Z/undraw-Software-engineer-re-tnjc.png"
        linkwa=""
        linkfb=""
        linkyt=""
        linktiktok=""
        linkig=""
        linkweb=""
    />
</div>
