---
import { Image } from "astro:assets";
import fetchApi from "../../lib/strapi";
export const prerender = false;

async function getImages() {
  try {
    let endpoint_card = "galeri-fotos?populate=*&pagination[pageSize]=8";
    return await fetchApi({
      endpoint: endpoint_card, // the content type to fetch
      wrappedByKey: "data",
    });
  } catch (error) {
    console.error("There was a problem with the fetch operation:", error);
  }
}

let galeris = await getImages();
console.log(galeris);
---

<div class="p-5 mt-20">
  <div
    class="text-black text-[32px] font-bold font-['Kumbh Sans'] grid mb-5 justify-items-center"
  >
    Galeri Kami
  </div>

  <div class="grid grid-cols-2 md:grid-cols-4 gap-4">
    {
      galeris.map((galeri) => (
        <div class="grid gap-4">
          <div>
           
            <Image
              alt="descriptive text"
              class="h-auto max-w-full rounded-lg"
              // src="https://static.promediateknologi.id/crop/0x0:0x0/0x0/webp/photo/p2/117/2023/11/30/Screenshot-173-2238099686.png"
              src={`${import.meta.env.STRAPI_URL}${galeri.attributes.foto.data.attributes.url}`}
              inferSize
            />
          </div>
        </div>
      ))
    }
  </div>

  <div class="flex justify-center">
  <a href="/galeri" class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-sm px-5 py-2.5 me-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900">Selengkapnya</a>
  </div>

</div>
