---
import { Image } from "astro:assets";
import MarkdownComponent from "../MarkdownComponent.astro";

const { konten } = Astro.props;
---

<section
  class="flex gap-5 max-md:flex-col px-5 mt-20 lg:gap-8 xl:gap-6 lg:grid-cols-12"
>
  <div class="flex flex-col w-5/12 max-md:ml-0 max-md:w-full">
    <Image
      class="object-cover grow w-full rounded-3xl aspect-[0.9] max-md:mt-10 max-md:max-w-full"
      inferSize
      alt="descriptive text"
      src=`${import.meta.env.STRAPI_URL}${konten.foto.data.attributes.url}`
      loading="lazy"
    />
  </div>
  <article class="flex flex-col ml-5 w-7/12 max-md:ml-0 max-md:w-full">
    <div
      class="flex z-10 flex-col items-start mt-1.5 text-black max-md:mt-10 max-md:-mr-2.5 max-md:max-w-full"
    >
      <time datetime="2024-05-12" class="text-sm">12 Mei 2024</time>
      <MarkdownComponent content={konten.konten} />
    </div>
  </article>
</section>
