<section class="flex gap-5 max-md:flex-col max-w-screen-xl px-4 py-8 mx-auto lg:gap-8 xl:gap-6 lg:py-16 lg:grid-cols-12">
        <div class="flex flex-col w-5/12 max-md:ml-0 max-md:w-full">
          <img loading="lazy" src="https://cdn.builder.io/api/v1/image/assets/TEMP/de803fdf96b442f4dc3fc0cc4a11d90517c9d37adb202488981482de7f03ea6c?placeholderIfAbsent=true&apiKey=54fb95c0816f4dfb82f7ffd2db39b850" alt="Image related to Nusa Tenggara Timur farm visit" class="object-contain grow w-full rounded-3xl aspect-[0.88] max-md:mt-10 max-md:max-w-full" />
        </div>
        <article class="flex flex-col ml-5 w-7/12 max-md:ml-0 max-md:w-full">
          <div class="flex z-10 flex-col items-start mt-1.5 text-base font-medium text-black max-md:mt-10 max-md:-mr-2.5 max-md:max-w-full">
            <time datetime="2024-05-12" class="text-sm">12 Mei 2024</time>
            <h2 class="self-stretch mt-12 leading-6 max-md:mt-10 max-md:max-w-full">Kunjungan ke peternakan Nusa Tenggara Timur</h2>
            <p class="self-stretch mt-4 leading-6 max-md:max-w-full">
              Masyarakat di sepuluh kecamatan di Kabupaten Rote Ndao, Nusa Tenggara Timur (NTT) punya ribuan ternak kuda. Data Dinas Peternakan Kabupaten Rote Ndao menunjukkan, ada 8.916 ekor kuda berhasil diternak masyarakat, di tahun 2023.
            </p>
            <p class="self-stretch mt-4 leading-6 max-md:max-w-full">
              Kepala Dinas Peternakan Kabupaten Rote Ndao Herman Haning mengatakan, hanya satu kecamatan yang tidak ada ternak kuda. Namun, populasi ternak kuda terbanyak ada di Kecamatan Rote Barat Laut, disusul Kecamatan Loaholu.
            </p>
            <p class="self-stretch mt-4 leading-6 max-md:max-w-full">
              "Jumlah populasi hewan ternak kuda terbanyak di Kecamatan Rote Barat Laut, 1.874 ekor. Berikutnya di Kecamatan Loaholu, 1.189 ekor," kata Herman, Jumat (23/2/2024).
            </p>
            
            <a href="#" class="mt-24 text-red-600 max-md:mt-10" tabindex="0">Baca Selengkapnya -&gt;</a>
          </div>
        </article>
</section>