<div
  class="flex flex-wrap items-center justify-between m-5 p-8 rounded-[10px] shadow border border-[#d9d9d9]"
>
  <img
    src="https://i.ibb.co.com/S62s7bL/kudapacu-3.png"
    class="h-24"
    alt="KudaPacu Logo"
  />
  <div class="flex flex-col">
    <div class="text-black text-[32px] font-semibold font-['Kumbh Sans']">
      Beriklan di Kudapacu
    </div>
    <div class="text-center">
      <span class="text-[#7c7c7c] text-xl font-normal font-['Kumbh Sans']"
        >Iklan pada paltform kami dan temukan jutaan potensi
      </span>
      <span
        class="text-[#5c5c5c] underline text-xl font-medium font-['Kumbh Sans'];"
        >pembeli baru</span
      >
    </div>
  </div>
  <a
    href="#"
    class="text-white bg-gradient-to-r from-red-400 via-red-500 to-red-600 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-red-300 dark:focus:ring-red-800 font-medium rounded-md text-sm px-5 py-2.5 text-center mb-2"
    >Hubungi kami</a
  >
</div>

