---
import Wa from "../icons/Wa.astro";
import Fb from "../icons/Fb.astro";
import Ig from "../icons/Ig.astro";
import Tiktok from "../icons/Tiktok.astro";
import Yt from "../icons/Yt.astro";
import Web from "../icons/Web.astro";
---

<section class="px-5 mt-20">
  <div class="grid grid-cols-1 gap-5 lg:gap-8 xl:gap-6 md:grid-cols-12">
    <div class="md:col-span-7">
      <div class="grid gap-4">
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/featured/image.jpg"
            alt=""
          />
        </div>
        <div class="grid grid-cols-3 gap-4">
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-1.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-2.jpg"
              alt=""
            />
          </div>
          <div>
            <img
              class="h-auto max-w-full rounded-lg"
              src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-3.jpg"
              alt=""
            />
          </div>
          <!-- <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-4.jpg"
            alt=""
          />
        </div>
        <div>
          <img
            class="h-auto max-w-full rounded-lg"
            src="https://flowbite.s3.amazonaws.com/docs/gallery/square/image-5.jpg"
            alt=""
          />
        </div> -->
        </div>
      </div>
    </div>
    <!--  -->
    <article class="md:col-span-5 ml-5 max-md:ml-0 max-md:w-full">
      <div class="flex-col justify-center items-start gap-[26px] inline-flex">
        <div class="text-black text-[32px] font-medium font-['Kumbh Sans']">
          Kuda Appaloosa Pak Eko [ 55kg - 12 tahun - 2024 ]
        </div>
        <div class="self-start">
          <span
            style="text-[#2b2d42] text-base font-normal font-['Lato'] leading-[25px]"
            >Appaloosa adalah jenis
          </span><span
            style="text-[#2b2d42] text-base font-normal font-['Lato'] underline leading-[25px]"
            >kuda</span
          ><span
            style="text-[#2b2d42] text-base font-normal font-['Lato'] leading-[25px]"
          >
            Amerika yang terkenal karena pola bulunya yang berwarna-warni. Ada
            berbagai macam tipe tubuh dalam breed, yang berasal dari pengaruh
            beberapa breed kuda sepanjang sejarahnya.</span
          >
        </div>
        <div
          class="text-[#d90429] text-[32px] font-bold font-['Kumbh Sans'] leading-[35px]"
        >
          Rp. 12.000.000
        </div>
        <div class="text-black text-[10px] font-medium font-['Kumbh Sans']">
          Informasi Pemilik
        </div>
        <div class="text-black text-base font-medium font-['Kumbh Sans']">
          Pak Eko Supriyadi
        </div>

        <div
          class="flex gap-1.5 text-xs font-bold text-white whitespace-nowrap justify-between"
        >
          <!-- WA -->
          <a
            href=""
            class="px-5 py-2 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-red-400 rounded-lg hover:bg-red-800 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
          >
            <Wa />
            <span class="text-white text-[14px] font-bold font-['Kumbh Sans']"
              >Hubungi</span
            >
          </a>

          <!-- IG -->
          <a
            href=""
            class="px-2 py-2 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            ><Ig />
          </a>
          <!-- Youtube -->
          <a
            href=""
            class="px-2 py-2 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            ><Yt />
          </a>
          <!-- TIKTOK -->
          <a
            href=""
            class="px-2 py-2 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            ><Tiktok />
          </a>
          <!-- Facebook -->
          <a
            href=""
            class="px-2 py-2 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            ><Fb />
          </a>
          <!-- Website -->
          <a
            href=""
            class="p-2 text-xs font-medium text-center inline-flex items-center space-x-2 text-white bg-gray-50 border rounded-lg hover:bg-red-300 focus:ring-1 focus:outline-none focus:ring-red-300 dark:bg-red-600 dark:hover:bg-red-400 dark:focus:ring-red-800"
            ><Web />
          </a>
        </div>
      </div>
    </article>
  </div>
  <div class="flex flex-col mt-12 gap-y-8">
    <div class="text-black text-2xl font-semibold font-['Kumbh Sans']">
      Detail
    </div>
    <div class="text-justify">
      <span
        style="text-[#2b2d42] text-base font-normal font-['Lato'] leading-[25px]"
        >Appaloosa adalah jenis kuda Amerika yang terkenal karena pola bulunya
        yang berwarna-warni. Ada berbagai macam tipe tubuh dalam breed, yang
        berasal dari pengaruh beberapa breed kuda sepanjang sejarahnya. Pola
        warna setiap kuda secara genetik merupakan hasil dari berbagai pola
        bercak yang dilapiskan di atas salah satu dari beberapa warna bulu dasar
        yang dikenali. Pola warna Appaloosa menarik bagi mereka yang mempelajari
        genetika warna bulu kuda, karena ia dan beberapa karakteristik fisik
        lainnya terkait dengan mutasi kompleks macan tutul (LP). Appaloosa
        rentan mengalami uveitis rekuren pada kuda dan rabun senja stasioner
        bawaan; yang terakhir telah dikaitkan dengan kompleks macan tutul. <br
        /> Karya seni yang menggambarkan kuda prasejarah dengan bercak macan tutul
        ada dalam lukisan gua prasejarah di Eropa. Gambar kuda peliharaan dengan
        pola bercak macan tutul muncul dalam karya seni dari Yunani Kuno dan Dinasti
        Han melalui periode modern awal.
      </span>
    </div>
    <ul class=" list-disc">
      <li>
        Appaloosa Horse Club. Appaloosa Horse Club Stud Book Volume 1. Moscow,
        Idaho: Appaloosa Horse Club. OCLC 9494129.
      </li>
      <li>
        Appaloosa Horse Club. Appaloosa Horse Club Stud Book Volume 2 & 3.
        Moscow, Idaho: Appaloosa Horse Club. OCLC 9494129.
      </li>
      <li>
        Bennett, Deb (1998). Conquerors: The Roots of New World
        Horsemanship (edisi ke-1st). Solvang, California: Amigo
        Publications. ISBN 978-0-9658533-0-9.
      </li>
      <li>
        Ciarloni, Diane (January 2011). "Shaping Stock Horses". Western
        Horseman: 76–84.
      </li>
    </ul>
  </div>
</section>
