---
import Layout from "../layouts/MainLayout.astro";
import CardAds from "../components/CardAds.astro";
import PremiumAds from "../components/sections/SectionPremiumAds.astro";
import SectionHero from "../components/sections/SectionHero.astro";
import SectionCategory from "../components/sections/SectionCategory.astro";
import SectionCTA from "../components/sections/SectionCTA.astro";
import ScetionGalaery from "../components/sections/SectionGalery.astro";
---

<Layout title="Kuda Pacu">
  <PremiumAds />

  <SectionHero />
  <SectionCategory category="Horse" subcategory="for sale" href="yourHref" />
  <SectionCTA />
  <SectionCategory category="Stalion" subcategory="for stud" href="yourHref" />
  <SectionCategory category="Horse" subcategory="Stable" href="yourHref" />
  <SectionCategory category="Horse" subcategory="Profesional" href="yourHref" />
  <SectionCategory
    category="Product"
    subcategory="and Service"
    href="yourHref"
  />
  <SectionCategory category="Artikel" subcategory="" href="yourHref" />
  <SectionCategory category="Racing" subcategory="Event" href="yourHref" />
  <ScetionGalaery />
  <div class="px-5 mt-20">
    <div
      class="grid justify-items-center"
    >
      <img
        src="https://i.ibb.co.com/S62s7bL/kudapacu-3.png"
        class="h-24"
        alt="KudaPacu Logo"
      />
    </div>
  </div>
  <PremiumAds />
  
</Layout>
