---
const { categories } = Astro.props;
---

<footer class="bg-[#f2f2f2] dark:bg-gray-900 mt-20">
  <div class="mx-auto w-full lg:max-w-screen-lg xl:max-w-screen-lg 2xl:max-w-screen-xl p-4 py-10 lg:py-16">
    <div class="md:flex md:justify-between">
      <div class="pb-6 md:pb-0 md:w-[441px] w-auto space-y-5">
        <a
          href="kudapacu.com"
          class="text-[#3f3f3f] text-2xl font-semibold font-['Kumbh Sans']"
        >
          Kudapacu.com
        </a>
        <div
          class="text-gray-500 dark:text-gray-400 font-medium font-['Kumbh Sans']"
        >
          Memajukan dunia kuda Pacu Indonesia baik secara kualitas Kuda Pacu
          Indonesia maupun SDM yang ada.<br />
        </div>
      </div>
      <div class="grid grid-cols-2 gap-x-28">
        <div>
          <div
            class="text-black dark:text-gray-200 text-2xl font-semibold mb-5"
          >
            Layanan
          </div>
          <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-3">
            {
              categories.map((categori) => (
                <li>
                  <a 
                  href=`/category/${categori.id}?kategori=${categori.attributes.nama.replace(/ /g, '-')}`
                  class="hover:underline">
                    {categori.attributes.nama}
                  </a>
                </li>
              ))
            }

          </ul>
        </div>
        <div>
          <div
            class="text-black dark:text-gray-200 text-2xl font-semibold mb-5"
          >
            Tentang
          </div>
          <ul class="text-gray-500 dark:text-gray-400 font-medium space-y-3">
            <li>
              <a href="#" class="hover:underline">Tentang kami</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Kontak kami</a>
            </li>
            <li>
              <a href="#" class="hover:underline">Iklan</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="w-full h-[53px] flex justify-center items-center bg-[#e6e6e6]">
    <div class="text-[#3f3f3f] text-xl font-normal font-['Kumbh Sans']">
      @ 2024 Kudapacu.com
    </div>
  </div>
</footer>
