---
interface Props {
  title: string;
}

const { title } = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import SectionPremiumAds from "../components/sections/SectionPremiumAds.astro";

import fetchApi from "../lib/strapi";

export async function getCategory() {
  try {
    // Data categori + card
    let endpoint_card = "kategoris";

    return await fetchApi({
      endpoint: endpoint_card, // the content type to fetch
      wrappedByKey: "data",
    });
  } catch (error) {
    console.error("There was a problem with the fetch operation:", error);
  }
}

const categories_list = await getCategory();
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>

  <body>
    <Navbar categories={categories_list} />
    <div
      class="lg:max-w-screen-lg xl:max-w-screen-lg 2xl:max-w-screen-xl mx-auto justify-items-center"
    >
      <SectionPremiumAds />
      <slot />
      <SectionPremiumAds />
    </div>
    <Footer categories={categories_list} />
    <script src="../../node_modules/flowbite/dist/flowbite.min.js"></script>
  </body>
</html>

<style is:global>
  :root {
    --accent: 136, 58, 234;
    --accent-light: 224, 204, 250;
    --accent-dark: 49, 10, 101;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      rgb(var(--accent-light)) 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif, inter;
    background: white;
    background-size: 224px;
  }
  code {
    font-family:
      SFMono-Regular,
      Consolas,
      Inter,
      Menlo,
      Monaco,
      Lucida Console,
      Liberation Mono,
      DejaVu Sans Mono,
      Bitstream Vera Sans Mono,
      Courier New,
      monospace;
  }

  ol {
    list-style-type: decimal;
    padding-left: 1.5rem; /* Tambahkan padding jika perlu */
  }
</style>
